$egp-white: #FFFFFF;
$egp-gray-50: #fafafa;
$egp-gray-100: #f4f2f5;
$egp-gray-200: #e9e6ea;
$egp-gray-300: #dbd6dc;
$egp-gray-400: #c3bbc5;
$egp-gray-500: #aa9fad;
$egp-gray-600: #938796;
$egp-gray-700: #7d717f;
$egp-gray-800: #685f6a;
$egp-gray-900: #544d56;
$egp-gray-950: #38313a;
$egp-green: #47B972;
$egp-green-dark: #0F8A54;
$egp-green-pine: #0B3323;
$egp-yellow: #FFDC2E;
$egp-pink: #F6ADCD;
$egp-purple: #6950A1;
$egp-black: #000;
$egp-red: #fc574a;
$egp-orange: #feae37;
$egp-blue: #00a5ec;

/* Fonts */
$font-base: Inter, sans-serif;
$font-headline: Doumbar, sans-serif;
$font-mono: 'Space Mono', sans-serif;

/* Breakpots */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1540px,
  sup: 2200px
);

/* Spacing */
$navbar-safe-area: 4.25rem;
$footer-safe-area: 4rem;
$container-max-width: 800px;

/* Utils */
$colors: (
  'pink': $egp-pink,
  'yellow': $egp-yellow,
  'orange': $egp-orange,
  'purple': $egp-purple,
  'red': $egp-red,
  'gray': $egp-gray-600,
  'green': $egp-green
);