$egp-white: #FFFFFF;
$egp-gray-50: #fafafa;
$egp-gray-100: #f5f5f5;
$egp-gray-200: #efefef;
$egp-gray-300: #e6e6e6;
$egp-gray-400: #cbd5e0;
$egp-gray-500: #cecece;
$egp-gray-600: #cecece;
$egp-gray-700: #aaa;
$egp-gray-800: #aaa;
$egp-gray-900: #868686;
$egp-gray-950: #38313a;
$egp-green: #09b876;
$egp-green-dark: #078656;
$egp-green-pine: #3b2d3d;
$egp-green-neon: #00f57c;
$egp-green-soft: #80bd01;
$egp-yellow: #FFDC2E;
$egp-pink: #ffdbe5;
$egp-purple: #704572;
$egp-black: #3b2d3d;
$egp-red: #DC2628;
$egp-orange: #feae37;
$egp-blue: #4659d1;
$egp-sand: #f8f6f2;

/* Fonts */
$font-base: Klima, sans-serif;
$font-headline: NewSpirit, sans-serif;
$font-mono: 'Space Mono', sans-serif;

/* Breakpots */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1540px,
  sup: 2200px
);

/* Spacing */
$navbar-safe-area: 4.25rem;
$footer-safe-area: 4rem;
$container-max-width: 800px;

/* Utils */
$colors: (
  'pink': $egp-pink,
  'yellow': $egp-yellow,
  'orange': $egp-orange,
  'purple': $egp-purple,
  'red': $egp-red,
  'gray': $egp-gray-600,
  'green': $egp-green,
  'blue': $egp-blue
);